EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBkFWe2PEcJpJh_V51C6sYyuEvueLXGs4k
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=anandhi-stores.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=anandhi-stores
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=anandhi-stores.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=36431070330
EXPO_PUBLIC_FIREBASE_APP_ID=1:36431070330:web:ae9fd7ddb350c9b3d967c3
